<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a id="logo_lien" class="navbar-brand" [routerLink]="['Accueil']"><img id="logo" src="assets/img/logo-header.png"></a>
        </div>
        <div class="navbar-collapse collapse">
            
            <!-- menu -->
            <ul class="nav navbar-nav">

                <li *ngFor="#item of menu.items" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{item.texte}}<i class="fa fa-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <template ngFor #subItem [ngForOf]="item.items">
                            <template [ngIf]="subItem.isLink">
                                <li><a [routerLink]="[subItem.routeurLink]">{{subItem.texte}}</a></li>
                            </template>
                            <template [ngIf]="!subItem.isLink">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">{{subItem.texte}}</a>
                                        <ul class="dropdown-menu">
                                            <li *ngFor="#subsubItem of subItem.items">
                                                <template [ngIf]="subsubItem.isLink">
                                                    <a [routerLink]="[subsubItem.routeurLink]">{{subsubItem.texte}}</a>
                                                </template>
                                            </li>
                                        </ul>
                            </template>
                        </template>
                    </ul>
            </ul>

            <!-- compte utilisateur -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a id="compteUtilisateur-dropdownMenu" href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <b>{{utilisateur?.prenom}} {{utilisateur?.nom | uppercase}}</b> &nbsp;
                        <i class="fa fa-user-md"></i>
                        <i class="fa fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['Todo']">Gérer mes accès</a></li>
                        <li class="divider"></li>
                        <li><a [routerLink]="['Todo']"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Se déconnecter</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <!-- Copyright -->
            <div class="col-md-5">
                <p class="navbar-text marginLeftAuto"><i class="fa fa-copyright"></i> Imag / lamiduf {{anneeCopyright}}</p>
            </div>

            <!-- Logo FAQ -->
            <div class="col-md-2">
                <a id="logoFooterFAQ" href="#/FAQ" class="navbar-text"><img src-version="assets/img/logo-faq-gris.png" /><b>FAQ</b></a>
            </div>
        </div>
    </div>

</nav>

<div class="content">
    <router-outlet></router-outlet>
</div>